SUPABASE_URL=https://fmppaymhzsleyhikkcgx.supabase.co
SUPABASE_KEY=your-anon-key
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.fmppaymhzsleyhikkcgx.supabase.co:5432/postgres
DB_PASSWORD=[YOUR-PASSWORD]
